/******************************************  
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
* 
* Simply copy an existing style from style.css to this file, 
* and modify it to your liking.
*/

/*
*
* Fuentes
*
*/

@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNovaRegular.woff') format('woff'),
	url('fonts/ProximaNovaRegular.eot') format('eot'),
	url('fonts/ProximaNovaRegular.ttf')  format('truetype');
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url('fonts/ProximaNovaBold.woff') format('woff'),
	url('fonts/ProximaNovaBold.eot') format('eot'),
	url('fonts/ProximaNovaBold.ttf')  format('truetype');
}

@font-face {
	font-family: 'StRydeRegular';
	src: url('fonts/StRydeRegular.woff') format('woff'),
	url('fonts/StRydeRegular.eot') format('eot'),
	url('fonts/StRydeRegular.ttf')  format('truetype');
}

body{
	font-family: 'StRydeRegular';
}


.boton-red-social {
	display: inline;
	width: 28px;
	height: 28px;
}
.boton-red-social a {
	width: 28px;
	height: 28px;
}

.boton-red-social a img {
	width: 28px;
	height: 28px;
}

.buscador{
	position: absolute;
	bottom: 0px;
	right: 6%;
	overflow: hidden;
}

.buscador input[type="text"]{
	border: solid 1px #ccc;
	padding: 5px;
	width: 300px;
	background-color: #f0efef
}

.categorias{
	text-align: center;
	font-size: medium;
	font-weight: bold;
}
.custom-menu-button{
	width: 100%;
}

.custom-logo {
	background-image: url('images/logos/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -110px;
	width: 495px;
	height: 146px;
	display: inline-block;
	margin-left: 5%;
}

.custom-titulo {
	background-image: url('images/logos/social-fondo.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 325px;
	height: 116px;
	display: inline-block;
	float: right;
}

.dropdown a{
	padding: 0;
}

.dropdown li {
	border: solid 1px #ccc;
	margin-top: -1px;
}

.dropdown li ul li{
	background-color: white;
	text-align: center;
}

.dropdown li ul li a {
	font-size: smaller;
}

.imagen_principal{
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

.post-thumb > a > img {
	height: 200px;
	width: 300px;
	resize: both;
}

.post_content{
	width: 100%;
}

.redes-sociales {
	display: block;
	width: 145px;
	position: absolute;
	right: 7%;
	top: 35%;
}

.redes-sociales-mobile{
	display: none;
}

.single-post #content {
	width: 70%;
}

.sub-menu{
	padding: 0;
	margin-left: -1px;
}

.titulo{
	color: #f783a0;
	font-family: 'ProximaNovaBold';
	font-size: 24pt;
	text-align: justify;
}


#content{
	padding: 0px;
	position: absolute;
	background-color: #f0efef;
	padding-top: 20px;
}

#custom-heading {
	background-color: #FFF;
	padding: 0px;
	position: relative;
}

#footer {
	text-align: left;
	position: static;
	background-image: url('images/logos/footer.png');
	background-repeat: no-repeat;
	width: 200px;
	height: 190px;
	background-size: contain;
	margin-top: -51px;
}

#footer .copyright{
	width: 100%;
	text-align: center;
	font-size: smaller;
	text-align: center;
}

#footer p{
	float: left;
	margin-top: 48px;
	margin-left: 10%
}

#header{
	padding: 0px;
	top: 140px;
	position: static;
	float: left;
	background-color: #f0efef;
}

#recentposts > ul li {
	border: solid 1px #ccc;
	padding: 5px;
	width: 27%;
}

#recentposts > ul li h2 a {
	color: #F783A0;
	font-family: 'ProximaNovaBold';
	font-size: 24pt;
}

#recentposts > ul li h2 a:hover {
	color: #F783A0;
}

#recentposts > ul li .meta{
	font-family: 'StRydeRegular';
	font-size: 18pt;
}

#recentposts > ul li .meta a{
	color: #F783A0;
	font-size: 14pt;
}

#recentposts > ul li .meta a:hover{
	color: #F783A0;
}

#menu{
	width: 197px;
	margin-top: 1px;
}

#heading{
	overflow:hidden;
	background-color: #F783A0;
	padding: 10px;
	width: 90.7%;
}

#slider{
	width: 100%;
	margin: 0;
}

.slides{
	width: 100%;
}

#slider > div > ul > li > .image {
	width: 49%;
}

#slider > div > ul > li > .content {
	color: #FFF;
	width: 49%;
	margin-left: 5px;

}

#slider > ul > li > .image {
	width: 49%;
}

#slider > ul > li > .content {
	color: #FFF;
	width: 49%;
	margin-left: 5px;

}

#slider .flex-direction-nav{
	right: 0;
}

#slider > ul > li > .content p {
	color: #FFF;
	font-family: 'StRydeRegular';
	font-size: 28pt;
}

#slider > div > ul > li > .content p {
	color: #FFF;
	font-family: 'StRydeRegular';
	font-size: 18pt;
}

#slider > div > ul > li > .content > h3 {
	color: #FFF;
	font-family: 'ProximaNovaBold';
	font-size: 24pt;
}

#slider > ul > li > .content > h3 {
	color: #FFF;
	font-family: 'ProximaNovaBold';
	font-size: 24pt;
}

.slides li .content{
	width: 40%;
}

.slides li .content .category, .slides li .content .category a{
	color: #FFF;
}

.slides li .content .category {
	margin-left: 10%;
}

.slides li .content .category a {
	/*position: absolute;
	bottom: 20px;
	left: 65%;*/
	font-weight: bold;
}

.slides li .image{
	width: 59%;
}

.slides li .image a img{
	width: 100%;
	height: auto;
}

.read-more-featured a{
	color: #FDF;
	font-size: 14pt;
}

.read-more-featured a:hover {
	color: #FDF;
}

.entry p{
	font-family: 'StRydeRegular';
	font-size: 21pt;
}

.desktop-menu .dropdown li a div {
	text-align: center;
}

.desktop-menu .dropdown li a div img{
	width: 98px;
	height: 122px;
}

/******************************************  
* Media Queries (Responsive Design)
*******************************************/

@media screen and (max-width: 1255px) {

	#content { padding:0; }

	#recentposts > ul { margin-left: -3%; }
	#recentposts > ul li { width: 27%; margin: 0 0 30px 3%; }
	#recentposts > ul li .post-thumb img { max-width: 100%; height: auto; }
}


@media screen and (max-width: 1080px) {

	#header { padding-top: 0; }
	
	.buscador input{
		width: 250px;
	}

	.custom-logo, .custom-titulo{ 
		height: 106px;
	}

	.custom-logo{
		width: 317px;
		background-position-y: -60px;
	}

	.custom-titulo{
		width: 297px;
	}
	
}

@media screen and (max-width: 960px) {

	.custom-logo, .custom-titulo{ 
		height: 102px;
	}

	.custom-logo{
		width: 332px;
		background-position-y: -70px;
	}

	.custom-titulo{
		width: 297px;
	}

	.redes-sociales{
		right: 8.5%;
	}
}


@media screen and (max-width: 768px) {

	.buscador{ display: none;}

	.custom-logo, .custom-titulo{ 
		width: 200px;
		height: 72px;	
	}

	.custom-logo{
		background-position-y: -40px;
	}

	.redes-sociales{
		display: none;
	}

	.redes-sociales-mobile{
		display: block;
		width: 62%;
		margin-top: -1px;
		border: solid 1px #ccc;
		padding: 10px 37.5px;
	}

	#content{
		padding-left: 10%;
	}

	#recentposts > ul li { width: 40% }

	#header { position: relative; width: 100%; padding: 0; top:0; }

  	.btn_menu {position: absolute; top:30px; right: 10px; display: block; background: url("images/menu.png") no-repeat; width: 39px; height: 40px; margin: 10px 10px 10px 0; }

}


@media screen and (max-width: 640px) {

	.custom-logo{ 
		width: 210px;
		height: 72px;	
	}

	.custom-titulo{
		display: none;
	}

	.custom-header{
		text-align: center;
	}

	#header { position: relative; width: 100%; padding:0; }

}